.titleBar{
	width:100%;
}
.titleBar>li {
    position: relative;
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    box-shadow: 0.4rem 0.4rem 3px 0px rgba(0,0,0,0.1);
    
}
.navbar {
    position: relative;
    min-height: 36px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
.SearchTerm {
	margin-top:4px;
    float: left;
    width: 100%;
    border: 3px solid #8CBEB2;
    padding: 5px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}
.topNav{padding: 0;border-bottom: 1px solid #CCC;background: #8CBEB2;box-shadow: 0 0 3px #B1AFAF;}

.dropdown-class{
	width:100%;
}
        /*下箭头*/
        .bottom{
                padding: 5px;
			    width: 20px;
			    height: 20px;
			    z-index: 2;
			    float: right;
        }
        .bottom-arrow1,.bottom-arrow2{
            width:0;
            height:0;
            display:block;
            z-index: 5;/*兼容ie8-*/
            border-bottom:10px transparent dashed;
            border-left:10px transparent dashed;
            border-right:10px transparent dashed;
            border-top:10px white solid;
            overflow:hidden;
        }
        .bottom-arrow1{
            top:1px;/*重要*/
            border-top:10px blue solid;
        }
        .bottom-arrow2{
            border-top:10px white solid;
        }